{% extends "layout.html" %}
{% block title %} Start page{% endblock %}
{% block main %}
    <div class="container">
        <h1>Про зроблене:</h1>
        <p>Ця сторінка є початком у користуванні ресурсом, який можна назвати "градусником читача"
        і який знайдуть корисним всі цінителі читання книг.</p>
        Тут Ви коротко але інформативно дізнаєтеся про книги, котрі викликали зацікавлення.
        Тут Ви дізнаєтеся думку інших читачів.
        Тут маєте можливість поділитися власною думкою та спостереженнями.
        Вперед. Приємного користування.
        </p>
        <p> Також велика вдячність і повага розробникам курсу
            <a href="https://courses.edx.org/courses/course-v1:HarvardX+CS50W+Web/course/">
            "CS50's Web Programming with Python and JavaScript"
            </a>
        за цікавий та інформативний навчальний матеріал.
        </p>
    </div>
{% endblock %}