{% extends "layout.html" %}
{% block title %} Log in{% endblock %}
{% block body %}
    <div class="container">
<div class="container">
<h1>Про зроблене:</h1>
<p>Ця сторінка є початком у користуванні ресурсом, який можна назвати "градусником читача"
    і який знайдуть корисним всі цінителі читання книг.</p>p>
    Тут Ви коротко але інформативно дізнаєтеся про , щодо книги, котрі викликали зацікавлення.
    Тут Ви дізнаєтеся думку інших читачів.
    Тут маєте можливість поділитися власною думкою та спостереженнями.
    Вперед. Приємного користування.
</p>
    <p> Також хочу висловити вдячність і повагу розробникам курсу
    <a href="https://courses.edx.org/courses/course-v1:HarvardX+CS50W+Web/course/">
        "CS50's Web Programming with Python and JavaScript"
    </a>
    за цікавий та інформативний навчальний матеріал.
    </p>
    <button class="btn button-default" >Вхід для зареєстрованих користувачів <a href="{{ url_for('login')}}"> >>> </a></button>

</div>
<h4>Форма для реєстрації <a href="{{ url_for('registration')}}"> >>> </a> </h4>
{% endblock %}